<IfModule mod_rewrite.c>
    RewriteEngine on
    Options +FollowSymlinks
    #redirect http non-www to https://www
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} ^(www\.)?ddamx\.com$
    RewriteRule (.*) https://www.ddamx.com/$1 [R=301,L]
    #redirect https non-www to www
    RewriteCond %{HTTPS} on
    RewriteCond %{HTTP_HOST} ^ddmax\.com$
    RewriteRule (.*) https://www.ddmax/$1 [R=301,L]
</IfModule>
